

body{
    /* background-image: url(./img/texture.jpg); */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    background-image: url(./img/texture.jpg);
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
}




.menu{
    width: 870px;
    position: absolute;
    float: right;
    /* border: 1px red solid; */
    left: 320px;
}

#fixedMenu{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}



.banner{
    top: 160px;
    width: 100%;
    height: 576px;
    /* border: 1px red solid; */
    margin: 0 auto;
    position: absolute;
    /* background-color: black; */
    /* opacity: 50%; */
    background-image: url(./img/20ku6/banner-dog-05.JPG);
    
    
}

.about{
    width: 1200px;
    height: 700px;
    background-color: whitesmoke;
    margin: 0 auto;
    position: relative;
    margin-top: 837px;

    
    
    
   
    
    
}

.aboutText h1 {
    color: rgb(75, 75, 75);
    display: block;
    /* border: 1px red solid; */
    padding-top: 20px;
    padding-left: 20px;
    text-align: center;
    text-transform: uppercase;
   
}



/* HEADER MENU */


#header{
    
    width: 100%;
    height: 120px;
    background-color: #389cfc ;
    padding: 0;
    position: absolute;
    top: 20px;
    /* border-radius: 5em; */
    /* border: 2px rgb(255, 136, 0) solid; */
    /* left: 60px; */
    /* opacity: 70%; */
    position: relative;
    margin: 0 auto;
    
}

#header ul{
    list-style-type: none;
    float: right;
    right: 0px;
    position: absolute;
    top: -16px;
    
    
}

#header ul li{
    float: left;
    font-weight: bold;
    padding: 48px 25px;
    font-size: 15px;
    color: whitesmoke;

}

#header ul li:hover{
    background-color: rgb(255, 136, 0);
    transition: all ease 0.5s;
    color: white;
   /* border-radius: 50%; */
    

}

#header ul li:not(hover){
    transition: all ease 0.2s;
    
}

#header p{
    left: 130px;
    position: absolute;
    top: 23px;
    font-weight: bold;
    font-size: 23px;
    color: rgb(0, 0, 0);
}

.headerLogo{
    width: 100px;
    height: 80px;
    position: absolute;
    top: -5px;
    transform: scale(0.8);
    
}

.topHeader{
    width: 100%;
    height: 20px;
    background-color: #1084fc;
    position: absolute;
    box-shadow: 0px 9px 14px #888888;
}

.topHeader2{
    width: 100%;
    height: 20px;
    background-color: #1084fc;
    position: absolute;
    /* box-shadow: 0px 9px 14px #888888; */
    margin-top: -77px;
    
}


.boxShadow{
    box-shadow: 0px 9px 14px #888888;
}

.nadpisSekcie{
    width: 100%;
    height: 50px;
    background-color: orange;
    margin-top: 340px;
    text-align: center;
    text-transform: uppercase;
    margin-top: -57px;
    position: absolute;
    

}

.nadpisSekcie > h1{
    margin-top: 3px;
}