

body{
    /* background-image: url(./img/texture.jpg); */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    background-image: url(./img/texture.jpg);
}


#sideHeader{
    width: 100%;
    margin: 0 auto;
    height: 140px;
    background-color: #fffc9c ;
}

.menu{
    width: 870px;
    position: absolute;
    float: right;
    /* border: 1px red solid; */
    left: 320px;
}

.wrapper{
    min-width: 1200px;
    height: 1000px;
}

.banner{
    width: 1200px;
    height: 500px;
    border: 1px red solid;
    margin: 0 auto;
    background-color: aqua;
}



/* HEADER MENU */


#header{
    
    width: 100%;
    height: 120px;
    background-color: #fffc9c;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 20px;
    /* border-radius: 5em; */
    /* border: 2px rgb(255, 136, 0) solid; */
    /* left: 60px; */
    /* opacity: 70%; */
    position: relative;
    margin: 0 auto;
}

#header ul{
    list-style-type: none;
    float: right;
    right: 0px;
    position: absolute;
    top: -16px;
    
    
}

#header ul li{
    float: right;
    font-weight: bold;
    padding: 48px 25px;
    font-size: 15px;
    color: rgb(126, 126, 126);

}

#header ul li:hover{
    background-color: rgb(255, 136, 0);
    transition: all ease 0.5s;
    color: white;
   /* border-radius: 50%; */
    

}

#header ul li:not(hover){
    transition: all ease 0.2s;
    
}

#header p{
    left: 130px;
    position: absolute;
    top: 23px;
    font-weight: bold;
    font-size: 23px;
    color: orangered;
}

.headerLogo{
    width: 100px;
    height: 80px;
    position: absolute;
    top: -5px;
    transform: scale(0.8);
    
}

.topHeader{
    width: 100%;
    height: 20px;
    background-color: rgb(255, 136, 0);
    position: absolute;
}

