

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #E0E5EB;
    background-image: url(./img/backgound-dog-png.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    

}




.menu{
    width: 870px;
    position: absolute;
    float: right;
    /* border: 1px red solid; */
    left: 320px;
    
}

#fixedMenu{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}



.banner{
    top: 151px;
    width: 100%;
    height: 575px;
    /* border: 1px red solid; */
    margin: auto;
    position: absolute;
    /* background-color: black; */
    /* opacity: 50%; */
    background-image: url(./img/20ku6/banner-dog-05.jfif);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.0);
    border-bottom: 10px #389cfc solid;
    
    
    
}

#nekupuj{
    width: 300px;
    height: 300px;
    background-image: url(./img/nekupuj.png);
    top: -100px;
    margin-left: 1150px;
    position: absolute;
    transform: scale(0.55);
    
}

.bannerText{
    /* background-color: orange; */
    width: 400px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 30px;
    line-height: 55px;
    position: absolute;
    margin-top: 20px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.zarovnanieStred{
    /* width: 1920px;
    margin-left: -960px;/* half width*/
    /* left: 50%; */
    /* position: relative; */
    width: 3000px;
    margin-left: -1200px;
    left: 50%;
    position: relative;
    /* border: 1px red solid; */
    

}

.about{
    width: 100%;
    height: 1267px;
    background-color: #E0E5EB;
    margin: 0 auto;
    position: relative;
    margin-top: 736px;
    /* border-bottom: 10px red solid; */
}

.aboutSection {
    width: 542px;
    height: 1194px;
    background-color: #E0E5EB;
    float: left;
    margin-left: 25%;
    position: relative;
    
}

.aboutImg0 {
    width: 600px;
    height: 316px;
    background-image: url(./img/dog-nature.JPG);
    position: absolute;
    margin-top: 428px;
    margin-left: -25px;
    border: 10px solid #389cfc;
}

.aboutImg1{
    width: 400px;
    height: 599px;
    background-image: url(./img/dog-home.JPG);
    margin-top: 576px;
    margin-left: 376px;
    z-index: 0;
    position: absolute;
    border: 10px white solid;
}

.aboutImg{
    width: 25%;
    height: 700px;
    background-color: #389cfc;
    float: left;
    position: relative;
    
}

.imageAbout{
    top: 30px;
    left: 50%;
    background-image: url(./img/retriever.JPG);
    width: 399px;
    height: 555px;
    margin-left: 229px;/* half width*/
    margin-top:78.5px;/* half height*/
    position: absolute;
    border: 10px orangered solid;

}



.aboutText h1 {
    color: rgb(75, 75, 75);
    display: block;
    /* border: 1px red solid; */
    padding-top: 20px;
    padding-left: 20px;
    text-align: center;
    text-transform: uppercase;
   
}

.volnaSekcia{
    width: 100%;
    height: 700px;
    border-bottom: #389cfc 10px solid;
    border-top: 10px red solid;
    
    
    
}

.novasekcia{
    width: 100%;
    height: 700px;
    background-color: #E0E5EB;
}

.zaobalovacMenu{
    width: 100%;
    height: 141px;
    background-color:  #389cfc;
    border-bottom: 10px orangered solid;
}

/* HEADER MENU */


#header{
    
    width: 1400px;
    height: 121px;
    background-color: #389cfc;
    padding: 0;
    position: absolute;
    top: 20px;
    /* border-radius: 5em; */
    /* border: 2px rgb(255, 136, 0) solid; */
    /* left: 60px; */
    /* opacity: 70%; */
    position: relative;
    margin: 0 auto;
    border-bottom: 5px orangered solid;
    
}

#header ul{
    list-style-type: none;
    float: right;
    right: 0px;
    position: absolute;
    top: -16px;
    
    
}

#header ul li{
    float: left;
    font-weight: bold;
    padding: 49px 25px;
    font-size: 15px;
    color: whitesmoke;

}

#header ul li:hover{
    background-color: orangered;
    transition: all ease 0.2s;
    color: rgb(63, 63, 63);
   /* border-radius: 50%; */
    

}

#header ul li:not(hover){
    transition: all ease 0.5s;
    
}

#header p{
    left: 130px;
    position: absolute;
    top: 23px;
    font-weight: bold;
    font-size: 23px;
    color: rgb(0, 0, 0);
}

.headerLogo{
 width: 130px;
 height: 130px;   
 background-image: url(./img/utulok-logo.png);
 transform: scale(0.20);
 position: absolute;
 margin-top: -43px;
 margin-left: -40px;
}

.headerLogo:hover{
    filter: invert(100%);
}







.topHeader{
    width: 100%;
    height: 20px;
    background-color: #1084fc;
    position: absolute;
    
}

.topHeader2{
    width: 100%;
    height: 20px;
    background-color: #1084fc;
    position: absolute;
    /* box-shadow: 0px 9px 14px #888888; */
    margin-top: -77px;
    
}


/* .boxShadow{
    box-shadow: 0px 9px 14px #888888;
} */

.nadpisSekcie{
    width: 100%;
    height: 50px;
    background-color: orange;
    margin-top: 340px;
    text-align: center;
    text-transform: uppercase;
    margin-top: -57px;
    position: absolute;
    

}

.nadpisSekcie > h1{
    margin-top: 3px;
}

.gallery{

    width: 1400px;
    height: 395px;
    margin: 0 auto;
    /* background-color: red; */
    position: absolute;
    top: 615px;
    left: 232px;
    top: 840px;
    left: 51.5%;
    margin-left:-700px;/* half width*/
    margin-top:-197.5px;/* half height*/
    
}

.stvrtina{
    float: left;
    width: 24.0%;
    height: 350px;
    text-align: center;
    border: 3px orangered solid;
    transform: scale(0.95);
    border-radius: 50%;
    
}

.galleryImg1{
    background-image: url(./img/gallery/fotka1.jpg);
    
}

.galleryImg2{
    background-image: url(./img/gallery/fotka2.jpg);
    

}

.galleryImg3{
    background-image: url(./img/gallery/fotka3.png);
    

}


.galleryImg4{
    background-image: url(./img/gallery/fotka4.png);
    

}


.blackbox{
    width: 100px;
    height: 100px;
    background-color: black;
}